/PPMLBackEnd/target/
/FMIDataFetcher/target/
/FMIDataFetcher/settings.properties
/FingridDataFetcher/target/
/ModelTrainer/target/
/ModelTrainer/binaryfiles
/FMIDataFetcher/results/*
/FingridPrediction/target/
/CombineFMICSV/target/
/JakoJäännösTesti/nbproject/private/
/JakoJäännösTesti/build/